* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: #FAFAF8;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header-image {
    height: 60px;
    margin-right: 1rem;
}

h1 {
    font-weight: 450;
}

.add-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.inputAdd {
    width: 300px;
    height: 40px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 1rem;
    
}

.inputAdd::placeholder {
    color: darkgray;
}

.buttonAdd {
    height: 40px;
    padding: 0 1rem;
    background-color: #141413;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}